.map-container-wrapper {
    height: 100%;
    /* Fill the parent flex container */
    width: 100%;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 4px solid rgba(255, 255, 255, 0.2);
}

.leaflet-map {
    height: 100%;
    width: 100%;
}